.bubble {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(100, 100, 100, 0.4),
    rgba(10, 10, 10, 0.9) 70%,
    rgba(0, 0, 0, 0.95) 100%
  );
}

.black {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.474);
  position: absolute;
  pointer-events: none;
}

main {
  height: 90vh;
  width: 90vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 4rem;
  position: relative;
  overflow: hidden;
}

nav ul {
  background-color: #111;
  border-radius: 0 10rem 10rem 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 4.2rem;
  padding: 2rem 3.2rem;
}

nav ul li a {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero h1 {
  font-size: 6.4rem;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

.intro {
  font-size: 2.4rem;
  color: orange;
  font-weight: 500;
}

.type-writter {
  font-size: 2.4rem;
  font-weight: 500;
  color: orange;
}

.typed-cursor {
  font-size: 2.4rem;
  color: orange;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.footer ul {
  background-color: #111;
  border-radius: 10rem 0 0 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 4.2rem;
  padding: 2rem 3.2rem;
}

.footer ul li {
  height: 2.8rem;
  width: 2.8rem;
}

.footer ul li img {
  filter: invert(100%);
  height: 100%;
  width: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all 0.3s ease;
  pointer-events: none;
}
